<h1>New Gist</h1>

<form class="" action="/gists" method="post">
  <input type="text" name="post[description]" placeholder="description">
  <input type="text" name="post[content]" placeholder="content">
  <input type="submit" name="" value="Crear Gist">
</form>
