<h1>Crea tu perrito</h1>

<form action="/create/dog" method="POST">
  <label for="name">Nombre</label>
  <input type="text" name='name'><br>
  <label for="breed">Raza</label>
  <input type="text" name='breed'><br>
  <input type="submit">
</form>
