<h1>Llena el formulario para crear un Gato</h1>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<!-- Truco de params -->
<!-- params = {name: 'fasdf', age: 324}
params = {cat: {name: 'fasdf', age: 342}}
{name: 'fasdf', age: 342}
params[:name]
params[:age] -->

<form action="/cats" method='POST'>
  <label for="name">Nombre</label>
  <input type="text" name="cat[name]">
  <label for="age">Edad</label>
  <input type="number" name='cat[age]'>
  <input type="submit" value='Crea tu gato'>
</form>
